$accentColor: #3eaf7c;
$textColor: #2c3e50;
$borderColor: #eaecef;

$code-universal-bg: #272822;

:root {  
  --accent-color: #{$accentColor};
  --accent-color-lighter: #{lighten($accentColor, 8%)};
  --accent-color-lighter-2: #{lighten($accentColor, 16%)};

  --text-color: #{$textColor};
  --text-color-lighter: #{lighten($textColor, 8%)};
  --text-color-lighter-2: #{lighten($textColor, 16%)};
  --text-color-lighter-3: #{lighten($textColor, 25%)};
  --text-color-lighter-4: #{lighten($textColor, 33%)};

  --border-color: #{$borderColor};
  --border-color-darker: #{darken($borderColor, 10%)};

  --bg-color: #ffffff;
  --bg-color-darker: #{darken(#ffffff, 8%)};
    
  --date-text-color: #777777;
  --time-color: #aaa;
  
  --icon-outbound-color: #aaa;
  --series-outbound-bg-color: #f6f5f5;
  
  --arrow-bg-color: #ccc;
  
  --code-bg-color: #{$code-universal-bg};
  --code-color: #ffffff;
  --inline-code-bg-color: rgba(27, 31, 35, 0.05);
  --inline-code-color: #{lighten($textColor, 20%)};
  --code-highlighted-color: rgba(0, 0, 0, 66%);
  --code-title-color: rgba(255, 255, 255, 0.4);
  --code-number-color: rgba(255, 255, 255, 0.3);

  
  --block-quote-color: #999;
  --block-quote-border-color: #dfe2e5;
  
  --table-stripe-bg-color: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  $textColor: darken(#ffffff, 25%);
  $accentColor: #3eaf7c;
  $borderColor: invert(#eaecef);

  :root {
    --accent-color: #{$accentColor};
    --accent-color-lighter: #{darken($accentColor, 8%)};
    --accent-color-lighter-2: #{darken($accentColor, 16%)};

    --text-color: #{$textColor};
    --text-color-lighter: #{darken($textColor, 8%)};
    --text-color-lighter-2: #{darken($textColor, 16%)};
    --text-color-lighter-3: #{darken($textColor, 25%)};
    --text-color-lighter-4: #{darken($textColor, 33%)};

    --border-color: #{$borderColor};
    --border-color-darker: #{lighten($borderColor, 10%)};
    
    --bg-color: #000000;
    --bg-color-darker: #{lighten(#000000, 10%)};
  
    --date-text-color: #{invert(#777777)};
    --time-color: #{invert(#aaa)};
  
    --icon-outbound-color: #{invert(#aaa)};
    --series-outbound-bg-color: #{invert(#f6f5f5)};
  
    --arrow-bg-color: #{invert(#ccc)};
  
    --code-bg-color: #{$code-universal-bg};
    --code-color: #{$textColor};
    --inline-code-bg-color: #{invert(rgba(27, 31, 35, 0.95))};
    --inline-code-color: #{darken(invert($textColor), 20%)};
    --code-highlighted-color: #{darken(invert(rgba(0, 0, 0, 66%)), 20%)};
    --code-title-color: rgba(0, 0, 0, 0.4);
    --code-number-color: rgba(0, 0, 0, 0.3);
  
    --block-quote-color: #{invert(#999)};
    --block-quote-border-color: #{invert(#dfe2e5)};
  
    --table-stripe-bg-color: #{invert(#f6f8fa)};
  }
}

$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;


$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;


$lineNumbersWrapperWidth: 3.5rem;
