// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$darkerBorderColor = #dddddd
$bgColor = #ffffff

$inverseTextColor = #ffffff

$dateTextColor = #777777
$timeColor = #aaa

$iconOutboundColor = #aaa
$seriesOutboundBgColor = #f6f5f5

$arrowBgColor = #ccc

$codeBgColor = #282c34
$codeColor = #ffffff
$inlineCodeBgColor =  rgba(27,31,35,0.05)
$inlineCodeColor = lighten($textColor, 20%)
$codeHighlightedColor = rgba(0, 0, 0, 66%)
$codeTitleColor = rgba(255, 255, 255, 0.4)
$codeNuberColor = rgba(255, 255, 255, 0.3)
$popUpShadowColor = rgba(0, 0, 0, 0.5)

$blockQuoteColor = #999
$blockQuoteBorderColor = #dfe2e5

$tableStripeBgColor = #f6f8fa

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem