// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$darkerBorderColor = #dddddd
$bgColor = #ffffff

$inverseTextColor = #ffffff

$dateTextColor = #777777
$timeColor = #aaa

$iconOutboundColor = #aaa
$seriesOutboundBgColor = #f6f5f5

$arrowBgColor = #ccc

$codeBgColor = #282c34
$codeColor = #ffffff
$inlineCodeBgColor =  rgba(27,31,35,0.05)
$inlineCodeColor = lighten($textColor, 20%)
$codeHighlightedColor = rgba(0, 0, 0, 66%)
$codeTitleColor = rgba(255, 255, 255, 0.4)
$codeNuberColor = rgba(255, 255, 255, 0.3)
$popUpShadowColor = rgba(0, 0, 0, 0.5)

$blockQuoteColor = #999
$blockQuoteBorderColor = #dfe2e5

$tableStripeBgColor = #f6f8fa

@media (prefers-color-scheme: dark)
    $textColor = invert($textColor)
    $borderColor = invert($borderColor)
    $darkerBorderColor = invert($borderColor)
    $bgColor = #000000

    $inverseTextColor = #000000

    $dateTextColor = invert($dateTextColor)
    $timeColor = invert($timeColor)

    $iconOutboundColor = invert($iconOutboundColor)
    $seriesOutboundBgColor = invert($seriesOutboundBgColor)

    $arrowBgColor = invert($arrowBgColor)

    $codeBgColor = invert(#282c34)
    $codeColor = #000000
    $inlineCodeBgColor = invert( rgba(27,31,35,0.95))
    $inlineCodeColor = darken($textColor, 20%)
    $codeHighlightedColor = darken(invert(rgba(0, 0, 0, 66%)), 20%)
    $codeTitleColor = rgba(0, 0, 0, 0.4)
    $codeNuberColor = rgba(0, 0, 0, 0.3)
    $popUpShadowColor = darken(invert(rgba(0, 0, 0, 0.5)), 20%)

    $blockQuoteColor = invert(#999)
    $blockQuoteBorderColor = invert(#dfe2e5)

    $tableStripeBgColor = invert(#f6f8fa)


// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem