@import './config';

.sp {
  width: 2em;
  height: 2em;
  clear: both;
  margin: 0 1em;
}

.sp-hydrogen  {
  position: relative;
  border: 1px var(--accent-color) solid;
  border-radius: 50%;
  animation: spHydro 0.6s infinite linear;&:before, &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
  }&:before {
    top: "calc( 50% - 5px )";
    left: "calc( 50% - 5px )";
  }&:after {
    top: -1px;
    left: -1px;
  }
}

@-webkit-keyframes spHydro  {
  from  {
        transform: rotate(0deg);
  }
  to  {
        transform: rotate(359deg);
  }
}

@-moz-keyframes spHydro  {
  from  {
        transform: rotate(0deg);
  }
  to  {
        transform: rotate(359deg);
  }
}

@-ms-keyframes spHydro  {
  from  {
        transform: rotate(0deg);
  }
  to  {
        transform: rotate(359deg);
  }
}

@-o-keyframes spHydro  {
  from  {
        transform: rotate(0deg);
  }
  to  {
        transform: rotate(359deg);
  }
}

@keyframes spHydro  {
  from  {
        transform: rotate(0deg);
  }
  to  {
        transform: rotate(359deg);
  }
}
