@require './config'
  
.sp
  width: 2em
  height: 2em
  clear: both
  margin: 0 1em

.sp-hydrogen 
  position: relative
  border: 1px $accentColor solid
  border-radius: 50%
  animation: spHydro 0.6s infinite linear
  &:before, &:after
    content: ''
    position: absolute
    width: 10px
    height: 10px
    background-color: $accentColor
    border-radius: 50%

  &:before
    top: "calc( 50% - 5px )"
    left: "calc( 50% - 5px )"
  
  &:after
    top: -1px
    left: -1px

@keyframes spHydro 
	from { transform: rotate(0deg) }
	to { transform: rotate(359deg) }
