.date 
    margin: 0 0 1em 0
    display: block
    color: #777777
    font-size: 120%

.article-snippet
    margin-bottom: 4em

.action 
    display block
    text-decoration: none
    font-size: .8rem
    padding: 8px
    margin: 5px -7px 5px 7px
    border-radius: 3px
    text-transform: uppercase
    letter-spacing: .03em
    font-weight: 600
    cursor: pointer

.action.ripple 
    border: 1px solid #3eaf7c
    color: #3eaf7c
    float: right
    white-space: nowrap
    margin: 0.5em 0.5em

.footer-social
    margin-left 5em
    margin-bottom 2em

.icon.outbound
  color #aaa
  display inline-block