@import './config.styl'

.bar
  pointer-events none
  content: ""
  background $accentColor
  transition-timing-function: ease;
  position fixed
  z-index 1031
  top 0
  left 0
  width 0%
  height 2px
  animation: loader 0.8s;

@keyframes loader {
    0% {width: 5%; left:0; right:0}
    // 40% {width: 60%; left:0; right:0}
    // 50% { width: 60%; left:100; right:0}
    // 70% { width: 100%; left:0; right:0}
    99% { width: 100%; left:0; right:0} 
}