{{ define "main" }}
  <div class="content">
      <h1 class="title">{{ .Title }}</h1>
      <div>
        <span class="date">{{ .PublishDate.Format "January 2, 2006" }}</span>
      </div>
      <div>
        {{ .Content }}
      </div>
    </div>
      <div class="gallery">
        {{ $data := .Resources.Get "images.json" | transform.Unmarshal }} 
        {{ range $image := $.Page.Params.images }}
        {{ range first 1 (where $data "name" "eq" $image.name) }}
                  <div class="gallery-image">
                   
                        <picture class="no-js-hidden">
                        {{ range .sources}}
                        <source class="no-js-hidden" media="{{ .media }}" sizes="{{ .sizes }}" {{ with .placeholder }}
                            srcset="data:image/svg+xml;base64,{{.}}" {{ end }} data-srcset="{{ .srcset }}">
                        {{ end }}
                        <img data-proofer-ignore loading="lazy" class="lazyload zoom__image" sizes="{{ .fallback.sizes }}"
                            data-srcset="{{ .fallback.srcset }}" src="data:image/svg+xml;base64,{{ .fallback.placeholder }}"
                            alt=""
                            data-album="{{ $.Page.Title }}"
                            {{ if .hqimage}}
                            data-src="{{ .hqimage }}"
                            data-highres="{{ .hqimage }}"
                            {{ end }}
                            {{ if $image.caption }}
                            data-caption="{{$image.caption}}"
                            {{ end }}
                            >
                        </picture>
                        <noscript>
                        {{ if .hqimage}}
                        <a href="{{ .hqimage }}" target="_blank">
                        {{ end }}
                            <picture>
                            {{ range .sources}}
                            <source media="{{ .media }}" sizes="{{ .sizes }}" {{ with .placeholder }}
                            style="background-size: cover; background-image: url(data:image/svg+xml;base64,{{.}})" {{ end }}
                            srcset="{{ .srcset }}">
                            {{ end }}
                            <img src="{{.fallback.src}}" loading="lazy" sizes="{{ .fallback.sizes }}" srcset="{{ .fallback.srcset }}"
                            style="background-size: cover; background-image: url(data:image/svg+xml;base64,{{ .fallback.placeholder }})"
                            alt=""
                            >
                            </picture>
                        {{ if .hqimage}}
                        </a>
                        {{ end }}
                        </noscript>
                    </div>
        {{ end }}
        {{ end }}
      </div>
{{ end }}