<div class="page-edit">
    <div class="edit-link">
        {{ range .Site.Params.social }}
        <a class="footer-link" href="{{ .url }}">
          <img src="{{ $.Site.BaseURL }}svg/{{ .type  }}.svg" alt="{{ .name }}" />
        </a>
        {{ end }}
    </div>

    {{ if .Lastmod }}
    <div class="last-updated">
      <span class="prefix">Last Updated: </span>
      <span class="time">{{ .Lastmod.Format "2006-01-02 15:04" }}</span>
    </div>
    {{ end }}

    <!-- Vue anchor -->
    <div id="popup"></div>
</div>