<div class="page-edit">
  <div class="edit-link">
    {{ range .Site.Params.social }}
    <a class="footer-link" href="{{ .url }}">
      <svg width="24px" height="24px">
        <use xlink:href="/svg/{{ .type  }}.svg#{{ .type }}"></use>
      </svg>
    </a>
    {{ end }}
  </div>

  {{ if .Lastmod }}
  <div class="last-updated">
    <span class="prefix">Last Updated: </span>
    <span class="time">{{ .Lastmod.Format "2006-01-02 15:04" }}</span>
  </div>
  {{ end }}

  <!-- No async or defer on these to prevent bug where CSS transitions flash causing the sidebar to display for an instant -->
  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}" async></script>
  {{ end }}
</div>