<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
<link rel="stylesheet" href="/main.bundle.css">
<link rel="manifest" href="/manifest.json">
<script type="text/javascript" defer src="/main.bundle.js"></script>
<script type="text/javascript" defer src="/vendors~main.bundle.js"></script>
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      // This is correct with the missing '/'
      navigator.serviceWorker.register('{{ .Site.BaseURL }}sw.js');
    });
  }
</script>
<noscript>
  <style>
    .no-js-hidden {
      display: none;
    }
  </style>
</noscript>