<div class="search-box no-js-hidden" id="search-box-container">
    <input placeholder="Search" aria-label="Search" autocomplete="off" spellcheck="false" id="search-box" />
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" id="search-box-icon" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 13"><g stroke-width="2" stroke="#aaa" fill="none"><path d="M11.29 11.71l-4-4"/><circle cx="5" cy="5" r="4"/></g></svg>
    <ul class="suggestions hidden" id="search-box-suggestions">

    </ul>
</div>