{{ $series := $.Page.Params.series}}
{{ if $series }}
<div class="series">
    <h3>{{replace $series "-" " " | title}} Series</h3>
    <ol>
        {{ range $ind,$post := $.Site.Pages.ByDate}}
        {{ if eq $post.Params.series $series }}
        <li>
            {{ if eq $post.Permalink $.Page.Permalink}}
            <strong>{{ $post.Params.title }}</strong>
            {{ else }}
            <a href="{{ $post.RelPermalink }}">{{ $post.Params.title }}</a>
            {{ end }}
        </li>
        {{ end }}
        {{ end }}
    </ol>
</div>
{{ end }}