{{ partial "header" . }}
<div class="theme-container no-sidebar">
  {{ partial "nav" . }}
  <div class="page">
    <div class="content">
      {{ range sort .Paginator.Pages }}
      <article class="article-snippet">
        <h3 class="title" style="margin-bottom: 0.25em;"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
        <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
        <div>
          {{ .Summary | plainify | safeHTML }}
        </div>
        {{ if .Truncated }}
          <a class="action ripple" href="{{ .Permalink }}">Read more</a>
        {{ end }}
      </article>
      {{ end }}
    </div>
    {{ partial "pager" . }}
    {{ partial "footer" . }}
  </div>
</div>
